<div id="main-container" style="text-align: center">
  <h1>
    {{ title }}
  </h1>
  <video #userVideoStream id="userVideoStream" autoplay></video>
  <canvas #canvasToRenderUserImage style="display: none;"></canvas>
  <button
    mat-raised-button
    color="accent"
    class="record-btn"
    (click)="startRecognition()"
    [disabled]="disableRecord"
  >
    Record
  </button>
  <hr />
  <div id="snapshots">
    <ul>
      <li *ngFor="let url of faceImages">
        <img src="{{url}}">
      </li>
    </ul>
  </div>
  <div id="audio">
    <audio #audioPlayer type="audio/wav" controls></audio>
  </div>
  <div *ngIf="emotionData">
    <h4>Emotion Data</h4>
    <pre>{{ emotionData | json }}</pre>
  </div>
</div>
