#wrapper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-container {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#audio, #snapshots {
  width: fit-content;
  margin: auto;
}

#spinner {
  margin: auto;
}

.record-btn {
  width: 50%;
  height: 50px;
  font-weight: bolder;
  margin-top: 20px;
}

.info {
  padding-top: 12px;
  margin-top: 24px;
}

.custom-card {
  background-color: #669cd2;
  
}

.hide {
  display: none;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

li {
  padding-bottom: 10px;
}