<div id="wrapper-container">
  <div class="info">
    <div id="audio" [ngClass]="{ hide: !audioPlayerElement.src }">
      <audio #audioPlayer type="audio/wav" controls></audio>
    </div>
    <div id="snapshots">
      <ul>
        <li *ngFor="let url of faceImages">
          <mat-card [ngClass]="{ 'custom-card': true }">
            <img mat-card-img src="{{ url }}" />
          </mat-card>
        </li>
      </ul>
    </div>
  </div>
  <div id="main-container" style="text-align: center">
    <mat-card [ngClass]="{ 'custom-card': true }">
      <h1>
        {{ title }}
      </h1>
      <mat-card-content>
        <video #userVideoStream id="userVideoStream" autoplay></video>
      </mat-card-content>
      <canvas #canvasToRenderUserImage style="display: none"></canvas>
      <mat-card-actions>
        <button
          mat-raised-button
          color="accent"
          class="record-btn"
          (click)="startRecognition()"
          [disabled]="disableRecord"
        >
          Record
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="info">
    <mat-progress-spinner
      id="spinner"
      color="accent"
      mode="indeterminate"
      *ngIf="apiResponsePending"
    ></mat-progress-spinner>
    <div *ngIf="emotionData">
      <h4>Emotion Data</h4>
      <pre>{{ emotionData | json }}</pre>
    </div>
  </div>
</div>
